:root {
  --cell-size: 1px;
}

body {
  margin: 0;
}

#app {
  line-height: 0.8;
  user-select: none;
  position: fixed;
  letter-spacing: 0;
  inset: 0;
  margin-top: -5px;
  color: #000;
  background: #fff;
  font-size: 10px;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: blueviolet;
}
